

<form *ngIf="form" [formGroup]="form" (ngSubmit)="saveUser($event)">
  <h1>Actualizar Datos de Usuario</h1>
  <p>
    <label>Nombre de usuario:</label><br>
    <input type="text" formControlName="username">
    <span *ngIf="Username.hasError('includes')">includes</span>
    <span *ngIf="Username.hasError('required')">required</span>
  </p>
  <p>
    <label>Nombre</label><br>
    <input type="text" formControlName="name">
  </p>
  <p>
    <label>Contraseña:</label><br>
    <input type="text" formControlName="newPassword">
  </p>

  <p>
    <button type="submit">
      Actualizar Producto
    </button>
  </p>

</form>

<form action="" [formGroup]="form2" (ngSubmit)="sendRecoveryEmail($event)">
  <h2>Recuperar contraseña</h2>

  <p>
    Deberás de proporcionarnos el correo electronico asociado a tu cuenta, para poder enviarte el link de recuperación
  </p>
  <label for="">Correo Electronico:</label>
  <input formControlName="email" type="text">

  <button (click)="sendRecoveryEmail($event)">Enviar</button>
</form>
 